---
---

@import "{{ site.theme }}";

header h1::before {
  content: ">\00a0";
}

#a-about {
  text-decoration: none;

  h1 {

    &:before {
      content: "";
    }

    &:after {
      content: "\00a0<";
      font-weight: normal;
    }
  }
}

#a-title {

}

header .header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .flex-item {
    flex-grow: 1;

    &.about {
      text-align: right;
    }
  }

  h1, h2 {
    display: inline-block;
  }
}
